# Created by .ignore support plugin (hsz.mobi)
.DS_Store
app/.DS_Store
app/build/generated/assets/
app/build/generated/res/resValues/
app/build/generated/res/rs/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/rs/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.amulyakhare/com.amulyakhare.textdrawable/1.0.1/aidl/
app/build/intermediates/exploded-aar/com.amulyakhare/com.amulyakhare.textdrawable/1.0.1/assets/
app/build/intermediates/exploded-aar/com.amulyakhare/com.amulyakhare.textdrawable/1.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/25.0.0/aidl/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/25.0.0/assets/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/25.0.0/jni/
app/build/intermediates/exploded-aar/com.android.support/cardview-v7/25.0.0/libs/
app/build/intermediates/exploded-aar/com.android.support/design/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/design/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/design/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/design/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-compat/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-ui/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-core-utils/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-fragment/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-media-compat/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/25.0.1/res/
app/build/intermediates/exploded-aar/com.android.support/transition/25.0.1/aidl/
app/build/intermediates/exploded-aar/com.android.support/transition/25.0.1/assets/
app/build/intermediates/exploded-aar/com.android.support/transition/25.0.1/jni/
app/build/intermediates/exploded-aar/com.android.support/transition/25.0.1/libs/
app/build/intermediates/exploded-aar/com.github.barteksc/android-pdf-viewer/2.4.0/aidl/
app/build/intermediates/exploded-aar/com.github.barteksc/android-pdf-viewer/2.4.0/assets/
app/build/intermediates/exploded-aar/com.github.barteksc/android-pdf-viewer/2.4.0/jni/
app/build/intermediates/exploded-aar/com.github.barteksc/android-pdf-viewer/2.4.0/libs/
app/build/intermediates/exploded-aar/com.github.barteksc/pdfium-android/1.5.0/aidl/
app/build/intermediates/exploded-aar/com.github.barteksc/pdfium-android/1.5.0/assets/
app/build/intermediates/exploded-aar/com.github.barteksc/pdfium-android/1.5.0/libs/
app/build/intermediates/exploded-aar/com.github.fcannizzaro/material-stepper/1.2.2/aidl/
app/build/intermediates/exploded-aar/com.github.fcannizzaro/material-stepper/1.2.2/assets/
app/build/intermediates/exploded-aar/com.github.fcannizzaro/material-stepper/1.2.2/jni/
app/build/intermediates/exploded-aar/com.github.fcannizzaro/material-stepper/1.2.2/libs/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageRelease/
app/build/intermediate
s/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/incremental/processReleaseResources/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/release/
app/build/intermediates/reload-dex/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/androidTest/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/instantRun/debug/folders/4000/
app/build/tmp/
app/src/.DS_Store
app/src/main/.DS_Store
app/src/main/assets/www/cch/modules/.DS_Store
app/src/main/res/.DS_Store
